# vim: set syntax=yaml:

version: '3.6'

services:

  # note: this is not actually a service, we intend to run it only `docker-compose run`
  nosetests:

    image: "opertusmundi/ingest:${VERSION}-testing"
    build:
      context: .
      dockerfile: testing.dockerfile
      args:
        VERSION: "${VERSION}"
    
    command: ['-v']
    
    volumes:
    - type: 'bind'
      source: .
      target: '/work'
    
    working_dir: /work
    user: "1000:1000"
    
    networks:
    - 'opertusmundi_network'  
    
    environment:
      TEMPDIR: '/work/temp'
      INSTANCE_PATH: '/work/data'
      DATABASE: '/work/data/ingest-testing.sqlite'      
      POSTGIS_HOST: 'postgres-1-opertusmundi'
      POSTGIS_PORT: '5432'
      POSTGIS_USER: 'ingest'
      POSTGIS_DB_NAME: 'opertusmundi-ingest-tests'
      POSTGIS_DB_SCHEMA: 'public'
      POSTGIS_PASS_FILE: '/work/secrets/postgis/password'
      GEOSERVER_URL: 'https://geoserver-1-opertusmundi'
      GEOSERVER_USER: 'ingest'
      GEOSERVER_WORKSPACE: 'default'
      GEOSERVER_STORE: 'postgres-1'
      GEOSERVER_PASS_FILE: '/work/secrets/geoserver/password'
 
networks:
  opertusmundi_network: 
    external: true

