# vim: set syntax=yaml:

version: '3.6'

services:

  # note: this is not actually a service, we intend to run it only `docker-compose run`
  nosetests:

    image: "opertusmundi/ingest:${VERSION}-testing"
    build:
      context: .
      dockerfile: testing.dockerfile
      args:
        VERSION: "${VERSION}"
    command: ['-v']
    volumes:
    - type: 'bind'
      source: .
      target: '/work'
    working_dir: /work
    user: "1000:1000"
    networks:
    - 'opertusmundi_network'
    environment:
      TEMP_DIR: '/work/temp'
      INPUT_DIR: '/work/tests/test_data/'
      INSTANCE_PATH: '/work/data'
      POSTGIS_HOST: 'postgres-1-opertusmundi'
      POSTGIS_PORT: '5432'
      POSTGIS_USER: 'ingest'
      POSTGIS_DB_NAME: 'geodata'
      POSTGIS_DB_SCHEMA: 'public'
      POSTGIS_PASS_FILE: '/work/secrets/postgis/ingest-password'
      GEOSERVER_URL: 'http://geoserver-1.opertusmundi.internal:8601/geoserver'
      GEOSERVER_USER: 'ingest'
      GEOSERVER_WORKSPACE: 'default'
      GEOSERVER_STORE: 'postgres-1'
      GEOSERVER_PASS_FILE: '/work/secrets/geoserver/ingest-password'
      DB_ENGINE: 'postgresql'
      DB_HOST: 'postgres-1-opertusmundi'
      DB_PORT: '5432'
      DB_USER: 'ingest'
      DB_NAME: 'opertusmundi_ingest'
      DB_PASS_FILE: '/secrets/db_pass'

networks:
  opertusmundi_network:
    external: true

