COMPOSE_PROJECT_NAME=opertusmundi_ingest
VERSION=0.3.1

FLASK_APP=ingest
FLASK_ENV=production
FLASK_DEBUG=false

#LOGGING_ROOT_LEVEL=DEBUG

DATABASE_URL=postgresql://postgres-1:5432/opertusmundi-ingest
DATABASE_USER=opertusmundi
DATABASE_PASS_FILE=./secrets/database-password

GEODATA_SHARDS=

GEOSERVER_DATASTORE={database}.{schema}
GEOSERVER_DEFAULT_WORKSPACE=work_1
GEOSERVER_PORT_MAP=
GEOSERVER_URL=http://geoserver-1:8080/geoserver
GEOSERVER_USER=admin
GEOSERVER_PASS_FILE=./secrets/geoserver/admin-password

POSTGIS_DEFAULT_SCHEMA=public
POSTGIS_PORT_MAP=
POSTGIS_URL=postgresql://geoserver-1-postgis:5432/geodata
POSTGIS_USER=geodata
POSTGIS_PASS_FILE=./secrets/postgis/geodata-password

