COMPOSE_PROJECT_NAME=opertusmundi_ingest
VERSION=0.3.1

FLASK_APP=ingest
FLASK_ENV=production
FLASK_DEBUG=false

#LOGGING_ROOT_LEVEL=DEBUG

DATABASE_URL=postgresql://postgres-1.default.svc.cluster.local:5432/opertusmundi-ingest
DATABASE_USER=opertusmundi
DATABASE_PASS_FILE=./secrets/database-password

GEODATA_SHARDS=s1,s2

GEOSERVER_DATASTORE={database}.{schema}
GEOSERVER_DEFAULT_WORKSPACE=work_1
GEOSERVER_PORT_MAP=s1:31319,s2:31329
GEOSERVER_URL=http://geoserver-{shard}-0.default.svc.cluster.local:{port}/geoserver
GEOSERVER_USER=admin
GEOSERVER_PASS_FILE=./secrets/geoserver/admin-password

POSTGIS_DEFAULT_SCHEMA=public
POSTGIS_PORT_MAP=s1:31523,s2:31533
POSTGIS_URL=postgresql://geoserver-{shard}-postgis.default.svc.cluster.local:{port}/geodata
POSTGIS_USER=geodata
POSTGIS_PASS_FILE=./secrets/postgis/geodata-password

