# vim: set syntax=yaml:

version: '3.6'

services:

  ingest:
    image: "opertusmundi/ingest:${VERSION}"
    build:
      context: .
      args:
        VERSION: "${VERSION}"
    volumes:
    - type: 'bind'
      source: './logs'
      target: '/var/local/ingest/logs'
    - type: 'bind'
      source: './secrets/secret_key'
      target: '/secrets/secret_key'
      read_only: true
    - type: 'bind'
      source: './secrets/postgis/ingest-password'
      target: '/secrets/postgis/ingest-password'
      read_only: true
    - type: 'bind'
      source: './secrets/geoserver/ingest-password'
      target: '/secrets/geoserver/ingest-password'
      read_only: true
    - type: 'bind'
      source: './data/'
      target: '/var/local/ingest/data'
    - type: 'bind'
      source: './temp'
      target: '/tmp'
    - type: 'bind'
      source: './input'
      target: '/var/local/ingest/input'
      read_only: true
    networks:
    - 'opertusmundi_network'
    ports:
    - '5000:5000'
    environment:
      FLASK_ENV: "${FLASK_ENV}"
      FLASK_DEBUG: "${FLASK_DEBUG}"
      CORS: '*'
      SECRET_KEY_FILE: '/secrets/secret_key'
      POSTGIS_HOST: 'postgres-1-opertusmundi'
      POSTGIS_PORT: '5432'
      POSTGIS_USER: 'ingest'
      POSTGIS_DB_NAME: 'geodata'
      POSTGIS_DB_SCHEMA: 'public'
      POSTGIS_PASS_FILE: '/secrets/postgis/ingest-password'
      GEOSERVER_URL: 'http://geoserver-1-opertusmundi:8080/geoserver'
      GEOSERVER_USER: 'ingest'
      GEOSERVER_WORKSPACE: 'work_1'
      GEOSERVER_STORE: 'postgres-1'
      GEOSERVER_PASS_FILE: '/secrets/geoserver/ingest-password'
      LOGGING_ROOT_LEVEL: 'INFO'
      INPUT_DIR: '/var/local/ingest/input'

networks:
  opertusmundi_network:
    external: true

