# vim: set syntax=yaml:

version: '3.6'

services:
  ingest:
    image: "opertusmundi/ingest:${VERSION}-dev"
    build:
      context: .
    volumes:
    - type: bind
      source: ./logs
      target: /var/local/ingest/logs
    - type: bind
      source: ./logging.conf
      target: /var/local/ingest/logging.conf
      read_only: true
    - type: bind
      source: ./secrets/secret_key
      target: /secrets/secret_key
      read_only: true
    - type: bind
      source: ${DATABASE_PASS_FILE}
      target: /secrets/database-password
      read_only: true
    - type: bind
      source: ${POSTGIS_PASS_FILE}
      target: /secrets/postgis-password
      read_only: true
    - type: bind
      source: ${GEOSERVER_PASS_FILE}
      target: /secrets/geoserver-password
      read_only: true
    - type: bind
      source: ./temp
      target: /var/local/ingest/temp
    - type: volume
      source: input
      target: /var/local/ingest/input
      read_only: true
    networks:
    - 'opertusmundi_network'
    ports:
    - '5000:5000'
    environment:
      TZ: Europe/Athens
      CORS: '*'
      SECRET_KEY_FILE: /secrets/secret_key
      LOGGING_FILE_CONFIG: logging.conf
      LOGGING_ROOT_LEVEL: ${LOGGING_ROOT_LEVEL:-INFO}
      INPUT_DIR: /var/local/ingest/input
      TEMP_DIR: /var/local/ingest/temp
      INITIALIZE_DATABASE: 'false'
      DATABASE_URL: 
      DATABASE_USER: 
      DATABASE_PASS_FILE: /secrets/database-password 
      GEODATA_SHARDS: 
      GEOSERVER_DATASTORE: 
      GEOSERVER_DEFAULT_WORKSPACE: 
      GEOSERVER_PORT_MAP:
      GEOSERVER_URL:
      GEOSERVER_USER:
      GEOSERVER_PASS_FILE: /secrets/geoserver-password
      POSTGIS_DEFAULT_SCHEMA:
      POSTGIS_PORT_MAP:
      POSTGIS_URL:
      POSTGIS_USER:
      POSTGIS_PASS_FILE: /secrets/postgis-password
volumes:
  input:
    external: true
    name: opertusmundi_ingest_input
networks:
  opertusmundi_network:
    external: true

