VERSION=0.3.1

FLASK_APP=ingest
FLASK_ENV=development
FLASK_DEBUG=false

#LOGGING_ROOT_LEVEL=DEBUG

INPUT_DIR=./input
INSTANCE_PATH=/tmp/opertusmundi-ingest/data
DATA_DIR=./data
SECRET_KEY=ac3c26ca99b5

DATABASE_URL=postgresql://postgres-1:5432/opertusmundi-ingest
DATABASE_USER=opertusmundi
DATABASE_PASS_FILE=./secrets/database-password

GEODATA_SHARDS=s1

GEOSERVER_DATASTORE={database}.{schema}
GEOSERVER_DEFAULT_WORKSPACE=work_1
GEOSERVER_PORT_MAP=:s1:31319
GEOSERVER_URL=http://geoserver-{shard}-1:{port}/geoserver
GEOSERVER_USER=admin
GEOSERVER_PASS_FILE=./secrets/geoserver/admin-password

POSTGIS_DEFAULT_SCHEMA=public
POSTGIS_PORT_MAP=s1:31523
POSTGIS_URL=postgresql://geoserver-{shard}-postgis-0:{port}/geodata
POSTGIS_USER=geodata
POSTGIS_PASS_FILE=./secrets/postgis/geodata-password
